<div class="nzassa-communaute-couverture">
  <div class="row filigramme">
    <div class="medium-9 large-7 medium-centered columns">
      <h2>Plus grand réseau de jeunes entrepreneurs de la Côte d'Ivoire</h2>
      <p class="libelle">
        Non seulement nous connectons plus de 2.500 jeunes entrepreneurs entre eux et nous les mettons en relations avec leurs clients et fournisseurs mais aussi nous les encadrons dans le developpement de leur entreprise.
      </p>
    </div>
  </div>
</div>

<div class="nzassa-adhesion-kit">
  <div class="row">
    <div class="medium-9 large-7 medium-centered columns">
      <div class="row small-up-1 medium-up-2" data-equalizer data-equalize-on="small">
        <div class="columns adherer">
          <div class="" data-equalizer-watch>
            <h4>Comment adherer</h4>
            <ol>
              <li>Remplis le formulaire d'adhésion</li>
              <li>Signe la convention d'engagement</li>
              <li>Va à la banque et paie 50.000FCFA sur le compte du réseau</li>
              <li>Finalise ton adhésion, avec le réçu, auprès de tes formateurs</li>
            </ol>
          </div>

        </div>
        <div class="columns kit">
          <div class="" data-equalizer-watch>
            <h4>kit d'adhésion</h4>
            <ol>
              <li>Une carte de membre personnalisée</li>
              <li>Une entrée dans la flotte</li>
              <li>Accès au site web Réseau</li>
              <li>Ouverture d'un compte bancaire</li>
              <li>Un livret explicatif sur le Réseau Nzassa</li>
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
